@import "../../../Config.scss";
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding-bottom: 25em;
  h1 {
    font-size: 2.5em;
    padding-top: 8em;
    span {
      color: $primaryColour;
    }
  }
}
