@import "../../../Config.scss";
#skills {
  .cards {
    display: flex;
    justify-content: center;
    gap: 1em;
    h5 {
      font-size: 1.3rem;
      text-align: center;
      padding-bottom: 1em;
    }
    .card {
      padding: 2.5em 6em;
      border: 1px solid $primaryColour;
      border-radius: 1.5em;
      .content {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-inline: auto;
      }
      &:hover {
        background-color: darken($bgColour, 3%);
      }
      .skill {
        font-size: 1.1rem;
        padding-top: 0.8em;
        position: relative;
        font-weight: bold;
        color: $white;
        &:before {
          color: $primaryColour;
          font-size: 1.5rem;
          position: absolute;
          top: 0.65em;
          left: -0.6em;
          content: "";
          width: 5px;
          height: 11px;
          border-width: 0 2px 2px 0;
          border-style: solid;
          transform: rotate(45deg);
        }
      }
      .experience {
        font-size: 0.8rem;
        padding-top: 0.2em;
        padding-left: 0.7em;
      }
    }
  }
}
@media (max-width: 1120px) {
  #skills {
    .card {
      padding-inline: 4em !important;
    }
  }
}
@media (max-width: 960px) {
  #skills {
    .card {
      padding-inline: 3em !important;
    }
  }
}
@media (max-width: 610px) {
  #skills {
    .cards {
      flex-direction: column;
      .card {
        padding-inline: 2em !important;
      }
    }
  }
}
